<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swoosh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>533B4A532089C16A00E62E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>533B4A672089C16B00E62E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>533B4A722089C16B00E62E7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
